<h1 class="page-heading text-center"><%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>

<div class="card-btns">
    <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-success mt-4" %>
</div>

<h3 class="page-heading text-center">Articles</h3>

<%= render 'articles/articles' %>