<div class="container text-center container-border" id="home-container">
    <div class="main-box">
        <h1>Freedom Of Pen</h1>
        <p><%= link_to "Articles Listing", articles_path %></p>
        <p><%= link_to "About", about_path %></p>
    </div>
</div>