<div class="container text-center container-border" id="home-container">
    <div class="main-box">
        <h1>Freedom Of Pen</h1>
        <div class="card-btns">
         <%= link_to "Articles", articles_path, class: "btn btn-outline-success text-black" %>
         <%= link_to "About", about_path, class: "btn btn-outline-success text-black" %>
        </div>
    </div>
</div>